@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import "https://cdn.jsdelivr.net/npm/open-props@1.6.17/open-props.min.css";

.embla {
  --slide-height: fit-content;
  --slide-size: 100%;
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__number {
  height: var(--slide-height);
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

/* width */
.scrolled::-webkit-scrollbar {
  width: 0.1px;
  scrollbar-width: thin;
}
.pagination-container {
  display: flex;
  list-style-type: none;
  width: 2px;

  .pagination-item {
    /* padding: 2px; */
    height: fit-content;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    /* border-radius: 16px; */
    line-height: 1.43;
    font-size: 13px;
    /* min-width: 32px; */

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.08);
    }

    .arrow {
      &::before {
        position: relative;
        /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
        content: "";
        /* By using an em scale, the arrows will size with the font */
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
/* Track */
.scrolled::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
.scrolled::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1px;
}

/* Handle on hover */
.scrolled::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.content {
  position: relative;

  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  z-index: 100;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;

  z-index: 10000000000;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: white;
  position: relative;
  z-index: 100;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;

    background-color: #283d3b54;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

.input-wrapper {
  --padding: 6px;
  --focus-color: black;
  position: relative;
  display: flex;
  align-items: center;
}

input {
  padding: var(--padding);
  border: 2px solid #121b1b;
  background-color: #f0f0f0;
  outline: none;
  /* width: 250px; */
  /* border-radius: 6px; */
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  margin-top: 10px;
  background-color: white;
}
.placeholder {
  position: absolute;
  background-color: #f0f0f0;
  color: gray;
  transition: all 0.2s ease-in;
}

textarea {
  resize: none;
}
/* input:is(:focus, :valid) {
  border: 2px solid #9e591b;
} */

input:is(:focus, :valid) + .placeholder {
  transform: translatey(calc(-1 * var(--padding) - 12px));
  font-size: 14px;
  color: var(--focus-color);
}

.container {
  position: relative;
  overflow: hidden;
}
.container2 {
  overflow: hidden;
}

.circle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background-color: #9e591b;
  border-radius: 50%;
  transform: translate(50%, 50%);
}
.circle2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #121b1b;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
textarea {
  outline: none;
}

.shape {
  position: relative;
  overflow: hidden;
  height: 130px;
}

.shape::before {
  border-radius: 100%;
  position: absolute;
  background: #121b1b;
  right: -200px;
  left: -200px;
  top: -200px;
  content: "";
  bottom: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  flex-direction: column;
  gap: 1em;
  font-family: "Montserrat";
}

.splide {
  max-width: 90vw;
}

.splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.splide__slide__container {
  /* height: fit-content;
  width: fit-content; */

  display: flex;
  align-items: end;
  cursor: pointer;
  padding: 15px;
  transition: background-color 250ms ease-in-out;
}

.splide__slide__container h1 {
  font-family: "Montserrat";
  margin-left: 1em;
  color: white;
}

.splide__slide__container h1 {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 250ms ease-in-out, transform 250ms var(--ease-bounce-1);
}

/*  */

/*  */

/*  */
